@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap');
body {
    background-color: mintcream;
    font-family: 'Zen Loop', cursive;
}

.topbar {
    img {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
}

nav {
    float: right;
    a {
        margin-right: 30px;
        font-size: 1.5em;
        text-decoration: none;
    }
}

#main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
}

.card {
    flex: 1 0 25%;
    min-width: 250px;
    margin: 10px;
    padding: 20px 20px 0;
    text-align: center;
    border-radius: 8px;
    background: #fff2e1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 1px 6px rgba(51, 51, 51, 0.192);
    position: relative;
    min-height: 260px;
    display: grid;
    overflow: hidden;
        img {
            width: 300px;
            height: 300px;
        }
  }
  

footer {
    margin-top: 200px;
    p {
        text-align:center;
       font-size: 1.5em;
    }
}